{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    {% include "components/sidebar.html.twig" %}
    <div class="md:ml-64 p-6">
        <div class="flex justify-between items-center mb-4">
            <nav class="flex py-4" aria-label="Breadcumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="" 
                            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                            Category
                        </a>
                    </li>
                    <li class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <a href="" 
                            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">
                            Modify
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="bg-white rounded shadow p-4">
            {{ form_start(categoryForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-col">
                        <label for="" class="mb-2 text-sm font-medium text-gray-900">
                            Name <span class="text-red-500">(*)</span>
                        </label>
                        {{ form_row(categoryForm.name) }}
                    </div>
                </div>
                <div class="flex flex-col justify-end">
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
                        Modify
                    </button>
                </div>
            </div>
            {{ form_end(categoryForm) }}
        </div>
    </div>
{% endblock %}