<header class="text-white">
    <nav class="px-5 py-2 flex items-center gap-10 bg-gray-950">
        <div class="flex-none flex items-center gap-4">
            <div class="text-2xl">Tsena Be</div>
            <div class="flex">
                <div class="flex items-end">
                    <twig:ux:icon name="tabler:map-pin" class="w-5 h-10"/>
                </div>
                <div>
                    <p class="text-xs italic text-gray-300">Deliver to</p>
                    <p>Madagascar</p>
                </div>
            </div>    
        </div>
        
        <div class="grow flex rounded-md overflow-hidden focus-within:ring-2 focus-within:ring-orange-400 border border-transparent transition">
            <div class="px-2 py-3 flex items-center gap-2 bg-gray-200 text-gray-600 text-xs cursor-pointer">
                All <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>
            <input type="text" class="grow px-2 bg-white text-gray-600 focus:outline-none">
            <button class="px-2 py-3 bg-orange-300 hover:bg-orange-400 cursor-pointer">
                <twig:ux:icon name="tabler:search" class="w-6 h-6"/>
            </button>
        </div>
        <div class="flex-none flex gap-4">
            <div class="flex items-center gap-2 cursor-pointer">
                Language <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>
            <div class="flex items-center gap-2 cursor-pointer">
                Sign in <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>
            <div class="flex items-center cursor-pointer">
                <twig:ux:icon name="tabler:shopping-cart" class="w-8 h-8"/>
                <p>0</p>
            </div>
        </div>
        
    </nav>
    <div class="bg-gray-800">
        <ul class="py-2 flex justify-center items-center gap-4">
            <li>Best sellers</li>
            <li>Sell on Tsena Be</li>
            <li>Books</li>
            <li>Electronics</li>
        </ul>
    </div>
</header>