<header class="bg-background text-foreground border-b border-border">
    <nav class="px-5 py-2 flex items-center gap-10 bg-background">
        
        <!-- Left -->
        <div class="flex-none flex items-center gap-6">
            <div class="text-2xl font-semibold text-primary">
                Tsena Be
            </div>

            <div class="flex items-center gap-2">
                <twig:ux:icon name="tabler:map-pin" class="w-5 h-5 text-primary"/>
                <div>
                    <p class="text-xs italic text-muted-foreground">Deliver to</p>
                    <p class="text-sm font-medium">Madagascar</p>
                </div>
            </div>    
        </div>
        
        <!-- Search -->
        <div class="grow flex rounded-md overflow-hidden border border-border 
                    focus-within:ring-2 focus-within:ring-ring transition">
            
            <div class="px-3 py-3 flex items-center gap-2 
                        bg-secondary text-secondary-foreground 
                        text-xs cursor-pointer">
                All 
                <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>

            <input 
                type="text" 
                class="grow px-3 bg-background text-foreground 
                       focus:outline-none placeholder:text-muted-foreground"
                placeholder="Search products..."
            >

            <button class="px-4 py-3 bg-primary text-primary-foreground 
                           hover:opacity-90 transition cursor-pointer">
                <twig:ux:icon name="tabler:search" class="w-5 h-5"/>
            </button>
        </div>

        <!-- Right -->
        <div class="flex-none flex gap-6 items-center text-sm">
            
            <div class="flex items-center gap-1 cursor-pointer hover:text-primary transition">
                Language 
                <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>

            <div class="flex items-center gap-1 cursor-pointer hover:text-primary transition">
                Sign in 
                <twig:ux:icon name="tabler:triangle-inverted-filled" class="w-2 h-2"/>
            </div>

            <div class="flex items-center gap-1 cursor-pointer hover:text-primary transition">
                <twig:ux:icon name="tabler:shopping-cart" class="w-6 h-6"/>
                <p class="font-medium">0</p>
            </div>

        </div>
        
    </nav>

    <!-- Sub Navigation -->
    <div class="bg-card border-t border-border">
        <ul class="py-2 flex justify-center items-center gap-6 text-sm">
            <li class="hover:text-primary cursor-pointer transition">Best sellers</li>
            <li class="hover:text-primary cursor-pointer transition">Sell on Tsena Be</li>
            <li class="hover:text-primary cursor-pointer transition">Books</li>
            <li class="hover:text-primary cursor-pointer transition">Electronics</li>
        </ul>
    </div>
</header>
